<section class="admin-card variants-card">
    <header class="card-header">
        <div class="card-header-content">
            <div class="card-title-group">
                <h2 class="card-title">
                    Variants
                </h2>

                <p class="card-description">
                    Manage product variants, inventory,
                    SKU configuration and pricing.
                </p>
            </div>
        </div>
    </header>

    <div class="card-body">
        {% for inline_admin_formset in inline_admin_formsets %}

            {% if inline_admin_formset.opts.verbose_name|lower == "product variant" %}
                {% include "admin/edit_inline/tabular.html" %}

            {% endif %}
        {% endfor %}
    </div>
</section>