<section class="shipping-dashboard">

    <div class="shipping-metrics-grid">

        <div class="metric-card">
            <h3>
                Total Shipments
            </h3>

            <strong>
                {{ total_shipments }}
            </strong>

        </div>

        <div class="metric-card">

            <h3>
                Delivered Orders
            </h3>

            <strong>
                {{ delivered_shipments }}
            </strong>

        </div>
    </div>

</section>